.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  background-color: #161722;
  height: 100vh;
  padding-top: 20px;
  h2 {
    font-size: 1.5rem;
    color: #577592;
    font-size: 3.5rem;
    font-weight: 700;
  }
  .form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
    width: 100%;

    input {
      padding: 1rem;
      border-radius: 10px;
      border: 1px solid #ccc;
      width: 60%;
      text-align: center;
    }
    button {
      padding: 1rem;
      width: 10%;
      border-radius: 10px;
    }
  }
  input:focus {
    outline: none;
  }
  .tasks {
    width: 72%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    .Tasklist {
      background-color: #25273c;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 1.3rem;
      color: rgb(207, 25, 207);
      font-weight: 700px;
      padding: 10px;
      border-radius: 10px;
      .task-buttons{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        button{
            padding:6px 12px;
            margin: 10px;
            border-radius: 10px;
            outline: none;
            border: none;
        }
      }
    }
  }
}
